.image1{
    display:flex  ;
    border: solid ;
    background-color: rgb(36, 35, 35);
    margin-top: 4%;
    margin-right: 6% ;
    margin-left: 6% ;
}

.image2{
    display:flex;
    border: solid;
    background-color: rgb(36, 35, 35);
    margin-top: 4%;
    margin-right: 6% ;
    margin-left: 6% ;
}

p {
color: white;
}

.titre{
    font-size: 25px ;
    font-family: URW Chancery L, cursive;
    margin-left: 2%;
    margin-top: 3px;
    color: white;

}

.description{
    font-family: Snell Roundhand, cursive ;
    font-size: 25px ;
    margin-top: 4%;
    margin-left: 2%;

}

.prix {
    font-size: 25px ;
    margin-top: 8%;
    margin-left: 9%;
    font-family: URW Chancery L, cursive;
}

hr {

    background-color: yellow;
    height: 20px;
    
}
