.image1{
    display:flex  ;
    border: solid ;
    background-color: rgb(36, 35, 35);
    margin-top: 4%;
    margin-right: 6% ;
    margin-left: 6% ;
}

.image2{
    display:flex;
    border: solid;
    background-color: rgb(36, 35, 35);
    margin-top: 4%;
    margin-right: 6% ;
    margin-left: 6% ;
}